<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MasterServlet</servlet-name>
        <servlet-class>servlets.MasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaServlet</servlet-name>
        <servlet-class>servlets.PrijavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinkeServlet</servlet-name>
        <servlet-class>servlets.PromenaLozinkeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormaServlet</servlet-name>
        <servlet-class>servlets.FormaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SefKuhinjeServlet</servlet-name>
        <servlet-class>servlets.SefKuhinjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SefPoslovniceServlet</servlet-name>
        <servlet-class>servlets.SefPoslovniceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerServlet</servlet-name>
        <servlet-class>servlets.MenadzerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>servlets.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReklamacijeServlet</servlet-name>
        <servlet-class>servlets.ReklamacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>porudzbineServlet</servlet-name>
        <servlet-class>servlets.porudzbineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlatkiServlet</servlet-name>
        <servlet-class>servlets.SlatkiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>konacnaNarudzbinaServlet</servlet-name>
        <servlet-class>servlets.konacnaNarudzbinaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterServlet</servlet-name>
        <url-pattern>/MasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaServlet</servlet-name>
        <url-pattern>/PrijavaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinkeServlet</servlet-name>
        <url-pattern>/PromenaLozinkeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormaServlet</servlet-name>
        <url-pattern>/FormaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SefKuhinjeServlet</servlet-name>
        <url-pattern>/SefKuhinjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SefPoslovniceServlet</servlet-name>
        <url-pattern>/SefPoslovniceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerServlet</servlet-name>
        <url-pattern>/MenadzerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReklamacijeServlet</servlet-name>
        <url-pattern>/ReklamacijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>porudzbineServlet</servlet-name>
        <url-pattern>/porudzbineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlatkiServlet</servlet-name>
        <url-pattern>/SlatkiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>konacnaNarudzbinaServlet</servlet-name>
        <url-pattern>/konacnaNarudzbinaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>ketering</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
